@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  overflow-x: hidden;
  background: linear-gradient(145deg, #efa2b4, #aef1ee);
}
body.active {
  background: #000;
}
body.active nav {
  color: #fff;
}
body.active nav ul li a {
  color: #fff;
}
body.active .mode .sun-icon {
  display: block;
}
body.active .mode .moon-icon {
  display: none;
}
nav ul li a {
  font-size: 15px;
}
body.active nav .logo span {
  color: #fff;
}
body.active #Home .col p {
  color: #fff;
}
#Home .col .image {
  animation: bounce 5s linear infinite alternate;
}
@keyframes bounce {
  100% {
    transform: translateY(-15px);
  }
}
.media-icons .media {
  color: var(--clr);
}
.media-icons .media:hover {
  color: #fff;
  background-color: var(--clr);
}
header nav ul.active {
  left: 0;
}
#Project .project-container {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 10px;
}
#Project .project-container .container .col {
  background-color: rgba(0, 0, 0, 0.1);
}
.project-container .container .col div {
  background-color: rgba(255, 255, 255, 0.8);
}
.project-container .container .col div:hover {
  background-color: rgba(255, 255, 255, 1);
}

